<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="teacher1" class="tw.jerry.demo.model.EnglishTeacher"></bean>

	<!-- String string0 = new String("Information"); -->
	<bean id="string0" name="string1, string2"
		class="java.lang.String">
		<constructor-arg value="Information"></constructor-arg>
	</bean>
	<bean id="loginDao" class="tw.jerry.demo.model.LoginDao"></bean>

	<!-- constructor injection -->
	<!-- LoginService loginService = new LoginService(loginDao); -->
	<bean id="loginService" class="tw.jerry.demo.service.LoginService">
		<constructor-arg ref="loginDao"></constructor-arg>
	</bean>

</beans>
